.atuo-stringstyle {                 /*输入文本框提示文字样式*/
    font-family:楷体;font-size:medium;
    color:#0000FF;font-weight:bold;
    text-align:right;height:22px;
}

.atuo-captionstyle {                 /*标题样式*/
    font-size:16pt;color:#ff0099;
    font-family:YouYuan;font-weight:bold;
    text-align:center;height:40px;
}

.atuo-resettyle {                      /*重置按钮样式*/
    font-weight:bold;color:red;
    font-family:黑体;font-size:medium;
}

a:visited {                           /*链接被访问后的颜色*/
    text-decoration:none;
    color:#0000ff;font-weight:bold;
}

a:link {                             /*正常超链接颜色*/
    text-decoration:none;
    color:#ff6a00;font-weight:bold;
}

#tablecenter {
    margin-left:auto;margin-right:auto;
    vertical-align:middle;background-color:#99ccff;
    width:519px;
}


